:root{
    --primary-color: #8FFF00;
    --secondary-color: #203800;
    --dark-green: #254300;
    --dark-color: #212430;
    --gray-color-100: #363C57;
    --gray-color-200: #747DA4;
    --dark-black: #111111;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
@import url('https://fonts.cdnfonts.com/css/red-hat-display');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
h1{
    font-size: 36px;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}
body{
    background-color: var(--dark-color);
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.header{
    margin-top: 10px;
    padding: 10px
}
.header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.menu a{
    font-weight: 600;
}
.menu a:hover{
    color: var(--primary-color);
}
.donate{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 15px;
    border-radius: 12px;
}
.menu  .donate:hover{
  animation: pulse 300ms;
  box-shadow: 0 0 0 3px var(--primary-color);
  color: var(--dark-color);
}
.media{
    padding: 25px 10px;
    display: flex;
    justify-content: flex-end;
    column-gap: 25px;
}
.pain.container{
    margin-top:10px;
    background-color: var(--gray-color-100);
    display: flex;
}
.content{
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.content p{
    color: #ffffff;
}
.pain-lol{
    display: flex;
    align-items: center;
    padding: 10px 0;
    column-gap: 10px;
}
.pain-lol p{
    color: var(--gray-color-200);
    font-weight: 600;
}
.e-mail{
    display: flex;
    background-color: #454F76;
    padding: 7px 10px;
    border-radius: 4px;
    align-items: center;
}
.e-mail p{
    margin-left: 10px;
    font-weight: 600;
    color: #8B95BF;
}
.lol{
    padding: 5px 10px;
    background-color: #454F76;
    border-radius: 4px;
}
